.container{
    background-color: #dcd300;
    font-family: Arial, sans-serif;
    height: 600px;
    width:  800px;
    position: relative;
    top:50px;
    left:350px;
}
.content{
    font-size: large;
    position:relative;
    top:20px;
    left:100px;
}

h1 {
    color: darkmagenta; 
    margin: 20px 0 0 30%;
}

p {
    color: darkmagenta; 
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 20px 0 0 30%;
}

#navigation {
    float: left;
    width: 200px;
    margin: 60px 0 0 20px;
    padding: 0 0 0 20px;
    list-style-type: none;
}
    
#navigation li a {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    display: block;
    padding: 5px;
    background-image: linear-gradient(to right, White 90%, black 10%);
    color: blue;
    text-decoration: none;
    margin-bottom: 10px;
}

#navigation li a:hover {
    color: darkmagenta ;
}


